{% extends 'base.html' %}

{% block content %}
    <h1>reminders</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <select name="{{form.prescription.name}}" id="{{form.prescription.id_for_label}}">
                {% for val, label in form.prescription.field.choices %}
                    <option value="{{ val }}" data-id="{{ val }}" 
                        {% if form.prescription.value == val %}selected{% endif %}>
                        {{label}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="{{ form.frequency.id_for_label }}">Frequency:</label>
            {{form.frequency}}
        </div>
        <div class="dosage-suggestion"></div>
        <div id="timeInputs"></div>
        <div>
            <label for="{{ form.day_amount.id_for_label }}">Number of days:</label>
            {{form.day_amount}}
            <div class="day-suggestion"></div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="active_reminders">
        {% for reminder in all_reminders %}
            <button type="button" class="edit-reminder" data-reminder="{{reminder.id}}">Edit</button>
            <div id="reminder_{{reminder.id}}" class="reminder-layout {% if reminder.is_active %}black{% else %}grayed{% endif %}">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" data-type="reminder" data-reminder="{{reminder.id}}" {% if reminder.is_active %}checked{% endif %}>
                </div>
                <p>Medicine: {{reminder.prescription.medicine.name}} ({{reminder.prescription.medicine.brand}})</p>
                <p>Dosage: {{reminder.prescription.medicine.dosage}} mg</p>
                <p>QTY: {{reminder.prescription.quantity}}</p>
                <div class="original_{{reminder.id}}">
                    <p class="remaining_days">{{reminder.days_left}} day(s) remaining</p>
                </div>
                <div class="editable_{{reminder.id}}">
                    <input type="number" min="1" step="1" name="remaining_days" class="edit-field" id="days_{{reminder.id}}" value="{{reminder.days_left}}">
                </div>
                {% for time in reminder.times.all %}
                    <div class="time-div">
                        <div class="original_{{reminder.id}}" data-time-id="{{time.id}}">
                            <p class="reminder_times">{{ time.time|time:"g:i A" }}</p>
                        </div>
                        <div class="editable_{{reminder.id}}">
                            <input type="time" name="reminder_time" id="time_{{reminder.id}}" class="timeInput" data-id="{{time.id}}" value="{{time.time|time:'H:i'}}">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input time-checkbox" type="checkbox" role="switch" data-type="time" data-id="{{time.id}}" {% if time.is_active %}checked {% endif %} {% if not reminder.is_active %} disabled {% endif %}>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="delete{{reminder.id}}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_{{reminder.id}}">
                Delete
            </button>
              
              <div class="modal fade" id="modal_{{reminder.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Reminder</h5>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this reminder? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" id="delete_btn_{{reminder.id}}" class="btn btn-danger delete-reminder" data-reminder="{{reminder.id}}">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="editable_buttons_{{reminder.id}}">
                <button type="button" class="cancel-edit" data-reminder="{{reminder.id}}">Cancel</button>
                <button type="button" class="edit-save" data-reminder="{{reminder.id}}">Save Changes</button>
              </div>
        {% endfor %}
    </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button id="archive-count" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Archived ({{archived_reminders | length}})
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div id="empty-message" {% if archived_reminders%} style="display: none;" {% endif%}>Nothing to display yet</div>
                        {% for reminder in archived_reminders %}
                        <button type="button" class="edit-reminder" style="display: none;" data-reminder="{{reminder.id}}">Edit</button>
                            <div id="reminder_{{reminder.id}}" class="reminder-layout {% if reminder.is_active %}black{% else %}grayed{% endif %}">
                                <div style="display: none;" class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" data-type="reminder" data-reminder="{{reminder.id}}">
                                </div>
                                <p>Medicine: {{reminder.prescription.medicine.name}} ({{reminder.prescription.medicine.brand}})</p>
                                <p>Dosage: {{reminder.prescription.medicine.dosage}} mg</p>
                                <p>QTY: {{reminder.prescription.quantity}}</p>
                                <div class="original_{{reminder.id}}">
                                    <p class="remaining_days"></p>
                                </div>
                                <div class="editable_{{reminder.id}}">
                                    <input type="number" min="1" step="1" name="remaining_days" class="edit-field" id="days_{{reminder.id}}" value="{{reminder.day_amount}}">
                                </div>
                                {% for time in reminder.times.all %}
                                    <div class="original_{{reminder.id}}">
                                        <p class="reminder_times">{{ time.time|time:"g:i A" }}</p>
                                    </div>
                                    <div class="editable_{{reminder.id}}">
                                        <input type="time" name="reminder_time" id="time_{{reminder.id}}" class="timeInput" data-id="{{time.id}}" value="{{time.time|time:'H:i'}}">
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input time-checkbox" type="checkbox" data-type="time" data-id="{{time.id}}" disabled>
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="restore-button" type="button" data-reminder="{{reminder.id}}">Restore</button>
                            <button type="button" id="delete{{reminder.id}}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_{{reminder.id}}">
                                Delete
                            </button>
                              
                              <div class="modal fade" id="modal_{{reminder.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Delete Reminder</h5>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you want to delete this reminder? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <button type="button" id="delete_btn_{{reminder.id}}" class="btn btn-danger delete-reminder" data-reminder="{{reminder.id}}">Delete</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="editable_buttons_{{reminder.id}}">
                                <button type="button" class="cancel-edit" data-reminder="{{reminder.id}}">Cancel</button>
                                <button type="button" class="edit-save" data-reminder="{{reminder.id}}">Save Changes</button>
                              </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const prescriptionSelect = document.querySelector('#id_prescription');
            const frequencySelect = document.querySelector('#frequency');
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const suggestionDay = document.querySelector('.day-suggestion');
            const suggestionDosage = document.querySelector('.dosage-suggestion');

            function createSuggestion(){
                const prescription_id = prescriptionSelect.value;
                const frequency = parseInt(frequencySelect.value);

                suggestionDay.innerHTML = "";
                suggestionDosage.innerHTML = "";


                if (prescription_id){
                    fetch("/patient/reminder_suggestions", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken,
                    },
                        body: JSON.stringify({prescription_id: prescription_id})
                    })
                    .then(response => response.json())
                    .then(data => {
                        data.results.forEach(item => {
                            const dosageInfo = document.createElement('p');
                            dosageInfo.classList.add('dosage-info');
                            dosageInfo.textContent = `Dosage information: ${item.dosage}`;
                            suggestionDosage.appendChild(dosageInfo);

                            if (frequency){
                                const quantity = item.quantity;
                                const days = Math.floor(quantity / frequency);

                                const suggestion = document.createElement('p');
                                suggestion.classList.add('daySuggestion');
                                suggestion.textContent = `Based on prescription information it is recommended that you repeat this reminder for ${days} day(s)`;
                                suggestionDay.appendChild(suggestion);
                            }   
                        });
                    })
                    .catch(error => {
                        console.error("Error", error)
                    });
                } 
            }

            prescriptionSelect.addEventListener('change', createSuggestion);
            frequencySelect.addEventListener('change', createSuggestion);

            const timeInputsDiv = document.getElementById('timeInputs');
            const frequencyDropdown = document.getElementById('frequency');

            frequencyDropdown.addEventListener('change', function(){
                const frequency = parseInt(this.value);
                timeInputsDiv.innerHTML = '';

                for (let i = 0; i < frequency; i++) {
                    const input = document.createElement('input');
                    input.type = 'time';
                    input.name = `time_${i}`;
                    input.className = 'timeInput'
                    input.placeholder = `Time ${i+1}`;
                    timeInputsDiv.appendChild(input);
                }
            });

            const toggleSwitch = document.querySelectorAll('.form-check-input');
            toggleSwitch.forEach(item => {
                item.addEventListener('change', function(){
                    let url = "";
                    let payload = {};

                    const type = this.getAttribute('data-type')
                    const time_id = this.getAttribute('data-id');
                    const reminder_id = this.getAttribute('data-reminder');

                    if (time_id){
                        url = '/patient/toggle_time';
                        payload = {time_id: time_id};
                    } else if (reminder_id) {
                        url = '/patient/toggle_reminder';
                        payload = {reminder_id: reminder_id};
                    } else {
                        console.error("No valid ID found on this switch")
                        return;
                    }

                    fetch( url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrfToken,
                        },
                        body: JSON.stringify(payload)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success){
                            console.log(`Toggle successful for ${time_id ? 'time ' + time_id : 'reminder ' + reminder_id}`);
                            if(type === 'reminder'){
                                document.querySelector('.remaining_days').textContent = `${data.days_left} day(s) remaining`;
                                console.log(data.days_left);

                                const reminderLayout = this.closest('.reminder-layout');
                                reminderLayout.classList.toggle('black', this.checked);
                                reminderLayout.classList.toggle('grayed', !this.checked);

                                const timeCheckboxes = reminderLayout.querySelectorAll('.time-checkbox');

                                timeCheckboxes.forEach(cb => {
                                   if (!this.checked){
                                        cb.disabled = true;
                                        cb.checked = false;
                                   } else {
                                    cb.checked = true;
                                    cb.disabled = false;
                                   }
                                });
                            }
                        } else {
                            console.log('error: toggle failed')
                        }
                    })
                    .catch(error => {
                        console.error("Error", error)
                    });
                })
            })

            const restoreButton = document.querySelectorAll('.restore-button');
            restoreButton.forEach(btn => {
                const reminder_id = btn.getAttribute('data-reminder');
                btn.addEventListener('click', function(){
                    fetch('/patient/unarchive', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrfToken,
                        },
                            body: JSON.stringify({reminder_id: reminder_id})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success){
                            console.log(`Reminder ${reminder_id} is now active`);
                            const archived_reminder = document.getElementById(`reminder_${reminder_id}`)
                            const delete_button = document.getElementById(`delete${reminder_id}`);
                            const modal = document.getElementById(`modal_${reminder_id}`);
                            const editButton = document.querySelector(`.edit-reminder[data-reminder="${reminder_id}"]`);
                            const editable_buttons = document.querySelector(`.editable_buttons_${reminder_id}`);
                            const active_container = document.querySelector('.active_reminders');

                            if (archived_reminder) {
                                const fragment = document.createDocumentFragment();
                                fragment.appendChild(editButton);
                                fragment.appendChild(archived_reminder);
                                fragment.appendChild(delete_button);
                                fragment.appendChild(modal);
                                fragment.appendChild(editable_buttons);

                                active_container.prepend(fragment);

                                archived_reminder.classList.add('black');
                                archived_reminder.classList.remove('grayed');
                                
                                editButton.style.display = 'block';

                                const archivedBody = document.querySelector('.accordion-body');
                                const reminders = archivedBody.querySelectorAll('.reminder-layout');
                                const emptyMessage = document.getElementById('empty-message');

                                if (reminders.length === 0) {
                                    emptyMessage.style.display = 'block';
                                } else {
                                    emptyMessage.style.display = 'none';
                                }

                                const reminderCheckbox = archived_reminder.querySelector('input[data-type="reminder"]');
                                if (reminderCheckbox) {
                                    reminderCheckbox.disabled = false;
                                    reminderCheckbox.checked = true;
                                }

                                archived_reminder.querySelectorAll('input[data-type="time"]').forEach(cb => {
                                    cb.disabled = false;
                                    cb.checked = true;
                                });

                                archived_reminder.querySelector('.form-check').style.display = 'block';
                                archived_reminder.querySelector('.remaining_days').textContent = `${data.day_amount} day(s) remaining`;

                                document.getElementById('archive-count').textContent = `Archived (${data.archive_count})`;

                                btn.remove();
                            } else {
                                console.log('error: unarchiving failed')
                            }
                        }
                    })
                    .catch(error => {
                        console.error("Error", error)
                    });
                    
                })
            })

            document.querySelectorAll('.delete-reminder').forEach(btn => {
                btn.addEventListener('click', function(){
                    const reminder_id = btn.getAttribute('data-reminder');

                    fetch('/patient/delete_reminder', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrfToken,
                        },
                            body: JSON.stringify({reminder_id: reminder_id})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log(`Reminder ${reminder_id} is deleted`);
                            const selected_reminder = document.getElementById(`reminder_${reminder_id}`);
                            const delete_button = document.getElementById(`delete${reminder_id}`);
                            if(selected_reminder) selected_reminder.remove();
                            if(delete_button) delete_button.remove();

                            const modalElement = document.getElementById(`modal_${reminder_id}`);
                            const modalInstance = bootstrap.Modal.getInstance(modalElement);
                            if (modalInstance) modalInstance.hide();
                        } else {
                            console.error(data.error || "deletion failed.");
                        }
                    })
                    .catch(err => {
                        console.error("request failed", err);
                    })
                })
            })
            
            document.querySelectorAll('.edit-reminder').forEach(btn => {
                btn.addEventListener('click', function(){
                    const reminder_id = btn.getAttribute('data-reminder');
                    const editable_buttons = document.querySelectorAll(`.editable_${reminder_id}`);
                    const original_buttons = document.querySelectorAll(`.original_${reminder_id}`);
                    const edit_buttons = document.querySelector(`.editable_buttons_${reminder_id}`);
                    console.log(reminder_id);
                    editable_buttons.forEach(el => {
                        el.style.display = 'block';
                    })
                    original_buttons.forEach(el => {
                        el.style.display = 'none';
                    })
                    edit_buttons.style.display = 'block';
                })
            })

            document.querySelectorAll('.cancel-edit').forEach(btn => {
                btn.addEventListener('click', function(){
                    const reminder_id = btn.getAttribute('data-reminder');
                    const editable_buttons = document.querySelectorAll(`.editable_${reminder_id}`);
                    const original_buttons = document.querySelectorAll(`.original_${reminder_id}`);
                    const edit_buttons = document.querySelector(`.editable_buttons_${reminder_id}`);
                    console.log(reminder_id);
                    editable_buttons.forEach(el => {
                        el.style.display = 'none';
                    });
                    original_buttons.forEach(el => {
                        el.style.display = 'block';
                    });
                    edit_buttons.style.display = 'none';
                })
            })

            document.querySelectorAll('.edit-save').forEach(btn => {
                btn.addEventListener('click', function(){
                    const reminder_id = btn.getAttribute('data-reminder');
                    const editable_buttons = document.querySelectorAll(`.editable_${reminder_id}`);
                    const original_buttons = document.querySelectorAll(`.original_${reminder_id}`);
                    const edit_buttons = document.querySelector(`.editable_buttons_${reminder_id}`);

                    const timeInputs = document.querySelectorAll(`#reminder_${reminder_id} input[name="reminder_time"]`);

                    const updated_times = Array.from(timeInputs).map(input => {
                        return {
                            id: input.getAttribute('data-id'),
                            time: input.value
                        };
                    });

                    fetch('/patient/edit_reminder', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": csrfToken,
                        },
                            body: JSON.stringify({
                                reminder_id: reminder_id,
                                times: updated_times
                            })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success){
                            editable_buttons.forEach(el => {
                                el.style.display = 'none';
                            });

                            original_buttons.forEach(el => {
                                el.style.display = 'block';
                            });

                            edit_buttons.style.display = 'none';

                            const times = data.times;
                            console.log(times);
                            
                            times.forEach(time => {
                                const timeDivs = document.querySelectorAll(`.original_${reminder_id}[data-time-id="${time.id}"]`);
                                timeDivs.forEach(div => {
                                    div.innerHTML = '';
                                    const p = document.createElement('p');
                                    p.textContent = time.time;
                                    p.className = 'reminder_times';
                                    div.appendChild(p);
                                });
                            });

                            console.log(`Reminder ${reminder_id} is updated`);
                        } else {
                            console.log('error: reminder cannot be updated');
                        }
                    })
                    .catch(error => {
                        console.error("Error", error)
                    });
                })
            })
        });
    </script>
{% endblock %}