{% extends 'base.html' %}

{% block content %}
<h2>Inventory</h2>
<div class="med-container">
    {% for drug in page_obj %}
    <div class="med-item">
      <a href="{% url 'drug_detail' drug_id=drug.id %}">
        <div class="image-holder">
          {% if drug.route == "ORAL" %}
          <i id="med-icon" class="fa-solid fa-capsules"></i>
          {% elif drug.route == "RESPIRATORY (INHALATION)" %}
          <i id="med-icon" class="fa-solid fa-lungs"></i>
          {% elif drug.route == "INTRATHECAL" %}
          <i id="med-icon" class="fa-solid fa-syringe"></i>
          {% elif drug.route == "OPHTHALMIC" %}
          <i id="med-icon" class="fa-solid fa-eye"></i>
          {% elif drug.route == "TOPICAL" %}
          <i id="med-icon" class="fa-solid fa-pump-soap"></i>
          {% elif drug.route == "SUBCUTANEOUS" %}
          <i id="med-icon" class="fa-solid fa-syringe"></i>
          {% elif drug.route == "INTRAMUSCULAR" %}
          <i id="med-icon" class="fa-solid fa-syringe"></i>
          {% elif drug.route == "INTRAVENOUS" %}
          <i id="med-icon" class="fa-solid fa-droplet"></i>
          {% elif drug.route == "SUBLINGUAL" %}
          <i id="med-icon" class="fa-solid fa-mouth"></i>
          {% elif drug.route == "NASAL" %}
          <i id="med-icon" class="fa-solid fa-head-side-cough"></i>
          {% endif %}
        </div>
      </a>
      <a href="{% url 'drug_detail' drug_id=drug.id %}">
        <div class="drug-name">
          <p class="drug-title">{{drug.name}}({{drug.brand}})</p>
        </div>
      </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endblock %}