{% extends 'base.html' %}

{% block content %}
<h2>Inventory</h2>

<input placeholder="search for medicine..." type="text" class="autocomplete-input" data-type="medicine" data-url="{% url 'medicine_search' %}" data-email="no" data-link="yes">
<input type="hidden" class="hidden-medicine">
<div id="autocompleteResults-medicine"></div>

<div class="med-container">
  {% for drug in page_obj %}
    <div class="med-item">
      {% if drug.stock > 1 %}
        <a href="{% url 'drug_detail' drug_id=drug.id %}">
          <div class="image-holder {% if drug.stock < 1 %} grayed {% endif %}">
            {% if drug.route == "ORAL" %}
            <i id="med-icon" class="fa-solid fa-capsules"></i>
            {% elif drug.route == "RESPIRATORY (INHALATION)" %}
            <i id="med-icon" class="fa-solid fa-lungs"></i>
            {% elif drug.route == "INTRATHECAL" %}
            <i id="med-icon" class="fa-solid fa-syringe"></i>
            {% elif drug.route == "OPHTHALMIC" %}
            <i id="med-icon" class="fa-solid fa-eye"></i>
            {% elif drug.route == "TOPICAL" %}
            <i id="med-icon" class="fa-solid fa-pump-soap"></i>
            {% elif drug.route == "SUBCUTANEOUS" %}
            <i id="med-icon" class="fa-solid fa-syringe"></i>
            {% elif drug.route == "INTRAMUSCULAR" %}
            <i id="med-icon" class="fa-solid fa-syringe"></i>
            {% elif drug.route == "INTRAVENOUS" %}
            <i id="med-icon" class="fa-solid fa-droplet"></i>
            {% elif drug.route == "SUBLINGUAL" %}
            <i id="med-icon" class="fa-solid fa-mouth"></i>
            {% elif drug.route == "NASAL" %}
            <i id="med-icon" class="fa-solid fa-head-side-cough"></i>
            {% endif %}
          </div>
        </a>
        {% if drug.stock > 1 %}
          <a href="{% url 'drug_detail' drug_id=drug.id %}">
            <div class="drug-name">
              <p class="drug-title">{{ drug.name }} ({{ drug.brand }})</p>
            </div>
          </a>
        {% endif %}
      {% else %}
        <div class="drug-name grayed">
          <p class="drug-title">{{ drug.name }} ({{ drug.brand }})</p>
        </div>
      {% endif %}

      {% if drug.stock <= 30 %}
        {% if drug.stock|add:0 <= 30 and drug.stock|add:0 >= 1 %}
          <p>Low Stock</p>
        {% elif drug.stock|add:0 < 1 %}
            <p>No Stock</p>
        {% endif %}

          {% if request.user.role == 'pharmacy admin' %}
            <form action="{% url 'resupply' drug_id=drug.id %}" method="post" >
              {% csrf_token %}
              <button type="submit">Resupply</button>
            </form>
          {% else %}
            <form action="{% url 'contact_admin' drug_id=drug.id %}" method="post" >
              {% csrf_token %}
              <button type="submit" {% if drug.resupply_pending %}disabled{% endif %}>
                Contact Admin
              </button>
            </form>
              
              {% if drug.resupply_pending %}
                <p>Your resupply request is under review by your pharmacy admin. You will be notified once it has been processed.</p>
              {% endif %}
          {% endif %}
    {% endif %}
    </div>
  {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endblock %}