{% extends 'base.html' %}

{% block content %}

<p>These are my patients</p>
{% if patients %}
    <input placeholder="search for patients..." type="text" class="autocomplete-input" data-type="patient" data-url="{% url 'patient_search' %}" data-email="no" data-link="yes">
    <input type="hidden" class="hidden-patient">
    <div id="autocompleteResults-patient"></div>
    <ul>
        {% for patient in patients %}
            <a href="{% url 'patient_profile' patient_id=patient.id %}">{{ patient.first_name }} {{ patient.last_name }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No patients assigned to your pharmacy yet.</p>
{% endif %}
{% endblock %}