{% extends 'base.html' %}

{% block content %}
<p>These are my patients</p>
{% if patients %}
    <ul>
        {% for patient in patients %}
            <li>
                <strong>Name:</strong> {{ patient.first_name }} {{ patient.last_name }}<br>
                <strong>DOB:</strong> {{ patient.dob }}<br>
                <strong>Gender:</strong> {{ patient.gender }}<br>
                <strong>Email:</strong> {{ patient.user.email }}<br>
                <strong>Phone:</strong> {{ patient.phone_number }}<br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No patients assigned to your pharmacy yet.</p>
{% endif %}
{% endblock %}