{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %} 
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
{% endif %}

<h3>Account Info</h3>
<button onclick="editUser('.user-info', 'save-btn', 'cancel-btn')"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></button>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="account">
    <label for="username">change username</label>
    <input type="text" name="username" value="{{user.username}}" class="user-info" id="username" disabled>
    <label for="email">update email</label>
    <input type="email" name="email" value="{{user.email}}" class="user-info" id="email" disabled>
    <button onclick="disableInput('.user-info', 'save-btn', 'cancel-btn')" style="display: none" type="button" id="cancel-btn">Cancel</button>
    <button style="display: none" type="submit" id="save-btn">Save</button>
</form>

{% if request.user.role == 'pharmacist' %}
    <h3>Activity Overview</h3>
    <p>Prescriptions Filled</p>
    <p>Low Stock Medications</p>
{% endif %}

<h3>Security</h3>
<button onclick="editUser('.password-info', 'savebtn', 'cancelbtn')"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></button>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="password">
    <input type="password" name="password" value="{{user.password}}" class="password-info" id="password" disabled>
    <input placeholder="confirm password" style="display: none" type="password" name="confirmation" class="password-info" id="confirmation" disabled>
    <button onclick="disableInput('.password-info', 'savebtn', 'cancelbtn')" style="display: none" type="button" id="cancelbtn">Cancel</button>
    <button style="display: none" type="submit" id="savebtn">Save</button>
</form>

<script>
    const confirmation = document.getElementById('confirmation');
    function editUser(userInfo, save_btn, cancel_btn){
        const information = document.querySelectorAll(userInfo);
        information.forEach((info) => {
            info.disabled = false;
            document.getElementById(save_btn).style.display = 'block';
            document.getElementById(cancel_btn).style.display = 'block';
            if(info.className == 'password-info') {
                if (confirmation){
                    confirmation.style.display = 'block';
                    confirmation.disabled = false;
                }
            }
        })
    }

    function disableInput(userInfo, save_btn, cancel_btn){
        const information = document.querySelectorAll(userInfo);
        information.forEach((info) => {
            info.disabled = true;
            document.getElementById(save_btn).style.display = 'none';
            document.getElementById(cancel_btn).style.display = 'none';
            if(info.className == 'password-info') {
                if (confirmation){
                    confirmation.style.display = 'none';
                    confirmation.disabled = true;
                }
            }
        })
    }
</script>

{% endblock %}