{% extends 'base.html' %}

{% block content %}
<p>These are my pharmacy messages</p>

<form method="post">
    {% csrf_token %}
    <label for="id_sender">From:</label>
    <input type="text" id="id_sender" value="{{request.user.first_name}} {{request.user.last_name}} {{ request.user.email }}>" disabled>
    {% if request.user.role == 'pharmacist' or request.user.role == 'pharmacy admin' %}
        <input placeholder="To:"  type="text" class="autocomplete-input" data-type="patient" data-url="{% url 'patient_search' %}" data-email="yes" data-link="no">
        <input name="recipient" type="hidden" class="hidden-patient">
        <div id="autocompleteResults-patient"></div>
    {% else %}
        <label for="id_receiver">To:</label>
        <input id="id_receiver" type="text" value="{{pharm_email}}" disabled>
    {% endif %}
    {{form.as_p}}

    <button type="submit">Send</button>
</form>
<h3>Sent</h3>
{% for message in sent_messages %} 
    <p>{{message.sender.email}}</p>
    <p>{{message.recipient.email}}</p>
    <p>{{message.content}}</p>
    <p>{{message.timestamp}}</p>
{% endfor %}

<h3>Inbox</h3>
{% for message in received_messages %} 
    <p>{{message.sender.email}}</p>
    <p>{{message.recipient.email}}</p>
    <p>{{message.content}}</p>
    <p>{{message.timestamp}}</p>
{% endfor %}
{% endblock %}