{% extends 'base.html' %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const empty_message = document.getElementById('noMessage');

            function updateEmptyMessage(){
                const messageBox = document.querySelectorAll('.message-box');
                if (empty_message) {
                    empty_message.style.display = messageBox.length > 0 ? 'none': 'block';
                }
            }

            updateEmptyMessage();
            
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                    return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            const form = document.getElementById('message-form');
            if (form) {
                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                    console.log("JS intercepted the form, not reloading!");

                    fetch('/accounts/send_messages', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken,
                        },
                        body: new FormData(form)
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateEmptyMessage();
                            let messageConvo = document.querySelector('.message-convo');

                            // Create a new message container
                            let messageBox = document.createElement('div');
                            messageBox.classList.add('message-box');
                            messageBox.id = `message_${data.id}`;
                            messageBox.dataset.read = data.read;

                            let messageSender = document.createElement('strong');
                            messageSender.classList.add('message-sender');
                            messageSender.textContent = 'Me:';

                            let messageContent = document.createElement('p');
                            messageContent.classList.add('message-content');
                            messageContent.textContent = `${data.content}`;

                            let messageTime = document.createElement('small');
                            messageTime.classList.add('message-time');
                            messageTime.textContent = `${data.timestamp}`;

                            messageBox.appendChild(messageSender);
                            messageBox.appendChild(messageContent);
                            messageBox.appendChild(messageTime);

                            // Add it to message convo
                            messageConvo.appendChild(messageBox);

                            // Reset form
                            form.reset();

                            updateEmptyMessage();
                            highlightHash();
                        }
                    })
                    .catch(error => console.error("Notification error:", error));
                })
            }
        });
        
        function highlightHash(){
            const hash = window.location.hash;
            if (hash) {
                const target = document.querySelector(hash);
                if (target) {
                    target.scrollIntoView({ behavior: "smooth", block: "center" });
                    target.classList.add('highlight');
                    setTimeout(() => target.classList.remove('highlight'), 1500);
                }
            }
        }
        window.addEventListener('DOMContentLoaded', highlightHash);
    </script>
    {% if thread.other_participants %}
        <h3>
            {% for user in thread.other_participants %}
                {% if user.role == "system" %}
                    Notification System
                {% elif user.role == "pharmacy admin" %}
                    {{ user.pharmacyprofile.pharmacy_name }} Pharmacy
                {% else %}
                    {{ user.first_name }} {{ user.last_name }}
                {% endif %}
            {% endfor %}
        </h3>
    {% else %}
        <h3>No participant found</h3>
    {% endif %}
    <div class="message-convo">
        {% for message in messages %}
            <div class="message-box" id="message_{{ message.id }}" data-read="{{ message.read }}">
                {% if message.sender == request.user %}
                    <strong class="message-sender">Me:</strong>
                {% else %}
                    <strong class="message-sender">{{ message.sender.first_name }} {{ message.sender.last_name }}:</strong>
                {% endif %}
                <p class="message-content">{{ message.content }}</p>
                <small class="message-time">{{ message.timestamp }}</small>
            </div>
        {% endfor %}
    </div>
    <p id="noMessage" {% if messages %} style="display: none;" {% endif %}>No messages yet.</p>
    <form action="{% url 'threads' thread_id=thread.id %}" id="message-form" method="post" {% if other_user.role == 'system'%} style="display: none;" {% endif %}>
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="thread_id" value="{{ thread.id }}">
        <button type="submit">Send</button>
    </form>

    {% if other_user.role == 'system'%}
        <small>Cannot reply to this thread</small>
    {% endif %}
{% endblock %}