

.dashboard-nav {
    justify-content: space-between;
    display: flex;
    border: 1px solid;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.end-div {
    padding: 0px 15px;
}

.search-item {
    border: 1px solid black;
    background: beige;
    cursor: pointer;
}

.search-item:hover{
    background: gray;
}


a {
    text-decoration: none;
    color: black;
}

.main-link {
    padding: 0px 10px;
}

.image-holder {
    display: flex;
    border: 1px solid;
    background: lightgray;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

#med-icon {
    font-size: 100px;
    color: gray;
}

.med-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 16px;
    justify-content: center;
}

.thread-box {
    border: 1px solid;
}

.med-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drug-name {
    width: 250px;
    font-size: 14px;
    border: 1px solid;
    justify-self: left;
}

.drug-title {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reminder-layout {
    transition: color 0.3s ease, opacity 0.3s ease;
}

.grayed {
    color: gray;
    opacity: 0.5;
}

.black {
    color: black;
    opacity: 1;
}

[class^="editable"] {
    display: none;
}

.time-div {
    display: flex;
}

.highlight {
    animation: flash 1.5s ease-out;
}

@keyframes flash {
    0% {
        opacity: 0.6; 
        background-color: #d0ebff;
    }

    100% {
        opacity: 1;
        background-color: transparent;
    }
}

#hidden-dropdown, .delete-noti {
    background: none;
    border: none;
}

#hidden-dropdown .rounded-circle {
    width: 10px;
    height: 10px;
    top: 1px;
    right: 0px;
    display: none;
}

#noti-bell {
    color: black;
    font-size: 24px;
}

.dropdown-item {
    padding: 0;
}

a.dropdown-item.read {
    color: #adb5bd;
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: var(--bs-dropdown-link-hover-bg) !important;
    color: inherit !important;
}

.dropdown-item.read:active,
.dropdown-item.read:focus {
    background-color: inherit !important;
    color: #adb5bd !important;
}