<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PulseRx {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/8b6abeeef6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<nav class="dashboard-nav">
    {% if request.user.role == 'patient' %}
        <div class="end-div">
            <a href="{% url 'patient_home' %}"><h1>PulseRx</h1></a>
        </div>
        <div>
            <a href="{% url 'prescriptions' %}" class="main-link">Prescriptions</a>
            <a href="{% url 'my_pharmacy' %}" class="main-link">My Pharmacy</a>
            <a href="{% url 'reminders' %}" class="main-link">Reminders</a>
            <a href="{% url 'messages' %}" class="main-link">Messages</a>
        </div>

    {% elif request.user.role == 'pharmacist' %}
        <div class="end-div">
            <a href="{% url 'pharmacist_home' %}"><h1>PulseRx</h1></a>
        </div>
        <div>
            <a href="{% url 'create_prescriptions' %}" class="main-link">Create Prescriptions</a>
            <a href="{% url 'my_patients' %}" class="main-link">My Patients</a>
            <a href="{% url 'inventory' %}" class="main-link">Inventory</a>
            <a href="{% url 'messages' %}" class="main-link">Messages</a>
        </div>

    {% elif request.user.role == 'pharmacy admin' %}
        <div class="end-div">
            <a href="{% url 'pharmacy_home' %}"><h1>PulseRx</h1></a>
        </div>
        <div>
            <a href="{% url 'inventory' %}" class="main-link">Inventory</a>
            <a href="{% url 'messages' %}" class="main-link">Messages</a>
        </div>
    {% endif %}
        <div class="end-div">
            <div class="dropdown show">
                <button type="button" id="hidden-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i id="noti-bell" class="bi bi-bell position-relative fs-4">
                        <span class="position-absolute bg-danger rounded-circle noti-dot"></span>
                    </i>
                </button>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <h5>Notifications</h5>
                    <div class="noti-content">
                        {% for noti in notifications %}
                            <div id="noti_div_{{noti.id}}" class="dropdown-item">
                                <button class="delete-noti" type="button" data-id="{{noti.id}}">
                                    <i class="bi bi-x"></i>
                                </button>
                                {% if noti.reminder %}
                                <a id="noti-dropdown" class="dropdown-item {% if noti.is_read %} read {% endif %} notiDrop" href="{% url 'reminders' %}#reminder_{{noti.reminder.id}}" data-read="{{noti.is_read}}" data-id="{{noti.id}}">
                                    <p class="reminder-message">Time to take your {{noti.reminder.medicine_name}}</p>
                                    <p class="reminder-time"><small>{{noti.time}}</small></p>
                                </a>
                                {% else %}
                                <a id="noti-dropdown" class="dropdown-item {% if noti.is_read %} read {% endif %} notiDrop" href="{% url 'threads' thread_id=noti.message.thread.id %}#message_{{noti.message.id}}" data-read="{{noti.is_read}}" data-id="{{noti.id}}">
                                    <p class="reminder-message">{{noti.message.sender.first_name}} {{noti.message.sender.last_name}} has sent you a new message.</p>
                                    <p class="reminder-time"><small>{{noti.time}}</small></p>
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if not noti %}
                            <span id="emptyMessage" {% if notifications %} style="display: none;" {% endif %}>No notifications to display</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <a href="{% url 'account_settings' %}" class="main-link">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
</nav>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    document.addEventListener('DOMContentLoaded', () => {

        const formatters = {
            patient: p => `${p.first_name} ${p.last_name} ID: ${p.id}`,
            medicine: m => `${m.name}(${m.brand}) ID: ${m.id}`
        }

        const linkGenerators = {
            patient: item => `/pharmacy/patient_profile/${item.id}`,  
            medicine: item => `/pharmacy/drug_detail/${item.id}`
        };


        const inputs = document.querySelectorAll('.autocomplete-input');
        
        inputs.forEach(input => {
            const type = input.dataset.type;
            const url = input.dataset.url;
            const email = input.dataset.email === "yes";
            const searchType = input.dataset.link === 'yes';
            const resultsContainer = document.getElementById(`autocompleteResults-${type}`);
            const hiddenInput = document.querySelector(`.hidden-${type}`);
            let timeoutId;

            input.addEventListener('keyup', function(){
                clearTimeout(timeoutId)
                const query = this.value.trim();

                if (query.length === 0) {
                    resultsContainer.innerHTML = ''
                    return;
                }

                timeoutId = setTimeout(() => {
                    fetch(`${url}?q=${encodeURIComponent(query)}&email=${email ? 'yes': 'no'}`)
                        .then(response => {
                            if (!response.ok){
                                throw new Error(`HTTP error status: ${response.status}`);
                            }
                            return response.json()
                        })
                        .then(data => {
                            const fragment = document.createDocumentFragment();

                            if(data.length > 0) {
                                data.forEach(item => {
                                    const div = document.createElement('div');
                                    div.classList.add('search-item');

                                    if (searchType){
                                        const searchLink = document.createElement('a');
                                        searchLink.href = linkGenerators[type](item);
                                        searchLink.style.display = 'block';
                                        searchLink.textContent = formatters[type](item);
                                        div.appendChild(searchLink)
                                    } else {
                                        div.textContent = formatters[type](item);
                                        if(email) {
                                            div.textContent = `${item.first_name} ${item.last_name} ${item.email}`
                                        }
                                        div.addEventListener('click', () => {    
                                            input.value = formatters[type](item);
                                            if(email) {
                                                input.value = `${item.first_name} ${item.last_name} ${item.email}`
                                            }
                                            resultsContainer.innerHTML = '';
                                            hiddenInput.value = item.id;
                                            console.log(hiddenInput); console.log(hiddenInput.value);

                                        })
                                    }
                                    fragment.appendChild(div);
                                });
                            } else {
                                const div = document.createElement('div');
                                div.textContent = `No ${type} found.`;
                                div.classList.add('no-results');
                                fragment.appendChild(div);
                            }

                            resultsContainer.innerHTML = '';
                            resultsContainer.appendChild(fragment);
                        })
                        .catch(error => {
                            console.error(`Error fetching ${type} data:`, error);
                            resultsContainer.innerHTML = `<div class="error-message">Error loading results. Please try again.</div>`;
                        });
                }, 300);
            });
        });

        flatpickr(".datepicker", {
            dateFormat: "m-d-Y",
            allowInput: true
        });

        const dropdown = document.getElementById('hidden-dropdown');
        const bellIcon = document.getElementById('noti-bell');

        const setIcon = (isFilled) => {
            bellIcon.classList.toggle('bi-bell-fill', isFilled);
            bellIcon.classList.toggle('bi-bell', !isFilled);
        };

        dropdown.addEventListener('shown.bs.dropdown', () => setIcon(true));
        dropdown.addEventListener('hidden.bs.dropdown', () => setIcon(false));

        dropdown.addEventListener('mouseenter', () => {
            if (!dropdown.classList.contains('show')) setIcon(true);
        });

        dropdown.addEventListener('mouseleave', () => {
            if (!dropdown.classList.contains('show')) setIcon(false);
        });
    });

    const dropdown = document.querySelector('.dropdown-menu');
    dropdown.addEventListener('click', (event) => {
        const clickedItem = event.target.closest('.notiDrop');

        if(!clickedItem) return;

        const notification_id = clickedItem.dataset.id;
        
        const data =  JSON.stringify({notification_id: notification_id});
        const blob = new Blob([data], {type: 'application/json'});

        navigator.sendBeacon('/accounts/read_notification', blob);

        clickedItem.classList.add('read');
    });

    window.addEventListener('DOMContentLoaded', () => {
        const hash = window.location.hash;
        if (hash) {
            const target = document.querySelector(hash);
            if (target) {
                target.classList.add('highlight');

                setTimeout(() => {
                    target.classList.remove('highlight');
                }, 1500);
            }
        }
    });

    const empty_message = document.getElementById('emptyMessage');

    function updateEmptyMessage(){
        const notiDrop = document.querySelectorAll('#noti-dropdown');
        empty_message.style.display = notiDrop.length > 0 ? 'none': 'block';
    }

    document.querySelector('.noti-content').addEventListener('click', function(e){
        const btn = e.target.closest('.delete-noti');
        if (!btn) return;

        e.stopPropagation();
        const notification_id = btn.dataset.id;
        const noti_div = document.getElementById(`noti_div_${notification_id}`);

        fetch('/accounts/delete_notification', {
            method: 'POST',
            headers: {
                'X-CSRFTOKEN': csrftoken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({notification_id: notification_id})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log(`Deleted notification ${notification_id} successfully`);
                noti_div?.remove();
                updateEmptyMessage();
            }
        })
        .catch(error => console.error("Notification error:", error));
    });
    
</script>
{% if request.user.is_authenticated %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const noti_content = document.querySelector('.noti-content');

        const userId = document.querySelector('body').dataset.userId
        const protocol = window.location.protocol === "https:" ? "wss" : "ws";
        const socket = new WebSocket(`${protocol}://127.0.0.1:8000/ws/notifications/`);


        socket.onopen = () => console.log("Connected");

        socket.onmessage= function(event) {
            updateEmptyMessage();
            const data = JSON.parse(event.data); 
            console.log("Parsed message:", data);

            if (data.notification) {
                const notification = data.notification; 
                console.log("Notification ID:", notification.id)

                const wrapperDiv = document.createElement('div');
                wrapperDiv.id = `noti_div_${notification.id}`;
                wrapperDiv.classList.add('dropdown-item');

                const delete_button = document.createElement('button');
                delete_button.classList.add('delete-noti');
                delete_button.dataset.id = `${notification.id}`;
                const delete_icon = document.createElement('i');
                delete_icon.classList.add('bi', 'bi-x');
                delete_button.appendChild(delete_icon);
                wrapperDiv.appendChild(delete_button);

                const dropdownItem = document.createElement('a');
                dropdownItem.classList.add('dropdown-item', 'notiDrop');
                dropdownItem.id = 'noti-dropdown';
                dropdownItem.dataset.id = `${notification.id}`;
                dropdownItem.dataset.read = `${notification.is_read}`;

                if (notification.type === "reminder" ) {
                    const reminderUrl = "{% url 'reminders' %}";
                    dropdownItem.href = `${reminderUrl}#reminder_${notification.reminder_id}`;

                    const reminderMessage = document.createElement('p');
                    reminderMessage.textContent = `Time to take your ${notification.reminder}`;
                    reminderMessage.classList.add('reminder-message');

                    const reminderTime = document.createElement('p');
                    reminderTime.innerHTML = `<small>${notification.created_time}</small>`;
                    reminderTime.classList.add('reminder-time');

                    dropdownItem.appendChild(reminderMessage);
                    dropdownItem.appendChild(reminderTime);
                } else if (notification.type === "message") {
                    const threadUrl = "{% url 'threads' thread_id=0 %}".replace('0', notification.thread_id);
                    dropdownItem.href = `${threadUrl}#message_${notification.id}`;

                    const messageContent = document.createElement('p');
                    messageContent.textContent = `${notification.sender} has sent you a new message.`;
                    messageContent.classList.add('message-message');

                    const messageTime = document.createElement('p');
                    messageTime.innerHTML = `<small>${notification.timestamp}</small>`;
                    messageTime.classList.add('message-time');

                    dropdownItem.appendChild(messageContent);
                    dropdownItem.appendChild(messageTime);
                }
                
                wrapperDiv.appendChild(dropdownItem);
                noti_content.prepend(wrapperDiv);

                updateEmptyMessage();
            }
        };
        socket.onclose = function(event) {
            console.log('WebSocket closed unexpectedly');
        };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    });
       
</script>
{% endif %}
<body {% if user.is_authenticated %}data-user-id="{{ request.user.id }}"{% endif %}>
    <p>{{request.user.id}}</p>
    {% block content %}

    {% endblock %}

</body>
</html>