<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PulseRx {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/8b6abeeef6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<nav class="dashboard-nav">
        {% if request.user.role == 'patient' %}
            <div class="end-div">
                <a href="{% url 'patient_home' %}"><h1>PulseRx</h1></a>
            </div>
            <div>
                <a href="{% url 'prescriptions' %}" class="main-link">Prescriptions</a>
                <a href="{% url 'my_pharmacy' %}" class="main-link">My Pharmacy</a>
                <a href="{% url 'reminders' %}" class="main-link">Reminders</a>
                <a href="{% url 'messages' %}" class="main-link">Messages</a>
            </div>
        {% elif request.user.role == 'pharmacist' %}
            <div class="end-div">
                <a href="{% url 'pharmacist_home' %}"><h1>PulseRx</h1></a>
            </div>
            <div>
                <a href="{% url 'create_prescriptions' %}" class="main-link">Create Prescriptions</a>
                <a href="{% url 'my_patients' %}" class="main-link">My Patients</a>
                <a href="{% url 'inventory' %}" class="main-link">Inventory</a>
                <a href="{% url 'pharmacy_messages' %}" class="main-link">Messages</a>
            </div>
        {% else %}
            <div class="end-div">
                <a href="{% url 'pharmacy_home' %}"><h1>PulseRx</h1></a>
            </div>
        {% endif %}
        <div class="end-div">
            <a href="{% url 'account_settings' %}" class="main-link">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
</nav>
<body>
    {% block content %}

    {% endblock %}

</body>
</html>